@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Source+Sans+Pro&display=swap");
:root {
  --readable-text-color: #333;
  --readable-text-weight: 200;
  --transition-length: 0.2s;
  --top-space: 70px;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: var(--readable-text-color);
  font-weight: var(--readable-text-weight);
  margin: 0;
  overflow-x: hidden;
  padding-top: var(--top-space);
}
body:before {
  content: "about";
  position: absolute;
  top: var(--top-space);
  right: 0;
  font-family: "IBM Plex Mono", monospace;
  cursor: pointer;
  z-index: 2;
}

/* -------- HEADER ------- */
.header {
  position: fixed;
  margin-top: calc(var(--top-space) * -1);
  line-height: var(--top-space);
  height: var(--top-space);
  width: 100%;
  padding: 0 20px;
  z-index: 3;
  font-size: 2.6rem;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  background: linear-gradient(135deg, #f8f8f8, #F3F3F3);
  white-space: nowrap;
}
.header .name {
  position: relative;
  float: left;
}
.header img {
  float: right;
  border-radius: 50%;
  border: 1px dashed var(--readable-text-color);
  max-height: 85%;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.header.shrink {
  height: 40px;
  line-height: 40px;
}

/* -------- BODY ------- */
/* -------- BODY ------- */
/* -------- BODY ------- */
.container {
  z-index: 1;
  padding-top: 60px;
  max-width: 720px;
  margin: 0 auto;
  position: relative;
}
.container .entry {
  position: relative;
}
.container .entry h1 {
  padding: 10px 25px 10px 50px;
  margin: 0 -25px 15px -25px;
  left: -25px;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  font-size: 25.6px;
  display: inline-block;
  font-weight: normal;
}
.container .entry p {
  overflow: hidden;
  border-radius: 5px;
  font-weight: 400;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .entry .meta {
  font-family: "IBM Plex Mono", monospace;
  position: absolute;
  text-align: right;
  width: 100%;
  color: #969696;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  bottom: 3px;
  font-style: italic;
}
.container .entry hr {
  height: 2px;
  border: none;
  border-top: 1px dotted #d8d8d8;
  margin: 38.5px auto 70px auto;
}
.container .entry:nth-child(3n-2) h1 {
  background-color: #ffeefd70;
  border-bottom: 1px solid #c3b7c270;
  border-right: 1px solid #c3b7c270;
}
.container .entry:nth-child(3n-1) h1 {
  background-color: #e2f0f994;
  border-bottom: 1px solid #c9d5dc94;
  border-right: 1px solid #c9d5dc94;
}
.container .entry:nth-child(3n) h1 {
  background-color: #f9f2e294;
  border-bottom: 1px solid #d4cdbe94;
  border-right: 1px solid #d4cdbe94;
}

/* --------- RESPONSIVE ------- */
@media (max-width: 768px) {
  :root {
    --top-space: 40px;
  }

  .header {
    padding: 0 15px;
  }
  .header .name {
    font-size: 30px;
  }

  .container {
    padding-top: 30px;
  }
  .container .entry h1 {
    margin: 0 -25px 0 -25px;
    font-size: 21px;
  }
  .container .entry p {
    font-size: 18px;
  }
  .container .entry hr {
    margin: 38.5px auto 40px auto;
  }
}
@media (max-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1500px) {
  .container .main {
    flex: 0.7 1 0 !important;
  }
}

/*# sourceMappingURL=portfolio.css.map */
