@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Source+Sans+Pro&display=swap');


:root {
	--readable-text-color: #252525;
	--readable-text-weight: 200;
	--transition-length: 0.2s;
}

html {
	box-sizing: border-box;
  }
*, *:before, *:after {
	box-sizing: inherit;
}

// prevents initial transitions from firing (this gets removed upon page load)
.preload * {
	transition: none !important;
}


body {
	color: var(--readable-text-color);
	font-weight: var(--readable-text-weight);
	
	margin: 0;
	overflow-x: hidden;
	padding-top: 70px;
	transition: padding var(--transition-length);

	.white-overlay {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 100%;
		background-color: white;
		opacity: 0;
		z-index: -1;
		transition: opacity .5s 0.3s;

		// @at-root body.launch-return .white-overlay {
		// 	transform: rotate(-90deg);
		// 	z-index: 5;
		// 	opacity: 1;
		// }
	}

	&.launch-about {

		.container {
			transform: translateY(calc(-300vh - 70px));
			transition: transform 0.5s cubic-bezier(.99, 0, 1, 1);
		}
	}

}

/* -------- ABOUT ------- */
/* -------- ABOUT ------- */
/* -------- ABOUT ------- */
.about {
	background-color: white;
	height: 100vh;
	position: fixed;
	
	top: 0;
	transition: transform .4s cubic-bezier(.99, 0, 1, 1), opacity 1s .3s;
	
	width: 100%;
	z-index: 4;

	@at-root body.launch-about .about {
		transform: translateX(0) !important;
	}

	&.about-left {
		transform: translateX(-100%);
	}
	
	&.about-right {
		align-items: center;
		display: flex;

		transform: translateX(100%);

		.picture-matte-wrap {
			height: 60%;
			margin: 0 auto;
			width: 40%;
			overflow: hidden;
			border-top-right-radius: 25px;


			.picture-matte {
				display: grid;
				grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
				grid-template-rows: minmax(0, 3fr) 1fr;
				grid-template-areas: 
					"left right" 
					"bottom bottom";

				
				
				color: white;

				column-gap: 20px;
				row-gap: 20px;
				padding: 20px;

				font-family: 'Source Sans Pro', sans-serif;
				font-size: 2.6rem;

				height: 100%;
				position: relative;
				text-align: center;
				width: 100%;

				// scrolling background
				&:before {
					content: '';
					background: url("/img/hotel-wallpaper-black.png");
					width: 300%;
					position: absolute;
					height: 100%;
					z-index: -1;
					animation: slide 40s linear infinite;

					@keyframes slide {
						0%{
						  transform: translate3d(0, 0, 0);
						}
						100%{
						  transform: translate3d(-33.3%, 0, 0); /* The image width */
						}
					  }
				}

				.left {
					grid-area: left;
					// background-color: lightpink;

					.description {
						display: flex;
						flex-direction: column;
						line-height: 1.1;
						align-items: flex-end;
						justify-content: space-between;
						height: 100%;
	
	
						.description-row {
							font-size: 2.1rem;
							padding: 12px 10px 12px 25px;
							position: relative;
							background-color: #f8f8f8;
							color: #333;
							// margin-bottom: 10px;
						}
					}
				}

				.right {
					background-color: lightgreen;
					grid-area: right;
					overflow: hidden;

					background-image: url("../img/al3.jpeg");
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;

					border-top-right-radius: 25px;
					
					
					img {
						max-width: 100%;
						border-top-right-radius: 20px;
						object-fit: cover;
					}
				}

				.bottom {
					background-color: lightblue;
					grid-area: bottom;
				}
	
				.return-arrow {
					position: absolute;
					top: 18px;
					left: -95px;
					cursor: pointer;
					transition: transform .3s linear;
					transform-origin: top right;
					color: black;

					@at-root body.launch-return .return-arrow {
						transform: rotate(-90deg);
					}
				}
			}

		}
	}
}

/* -------- HEADER ------- */
/* -------- HEADER ------- */
/* -------- HEADER ------- */

.header__scene {

	position: fixed;
	margin-top: -70px;
	z-index: 3;
	width: 100%;
	line-height: 70px;

	/* --- header --- */
	.header {
		display: flex;
		justify-content: space-between;

		height: 70px;
		
		font-size: 2.6rem;
		font-weight: 400;
		font-family: 'IBM Plex Mono', monospace;
		
		transform-origin: top left;

		transition: transform var(--transition-length) linear, height var(--transition-length) linear, line-height var(--transition-length) linear;

		transform: rotate3d(0,0,0,0);
		position: relative;
		background: linear-gradient(135deg, #f8f8f8, #F3F3F3);



		.allan {
			flex: 5 1 0;
			display: flex;
			align-items: center;
			padding-left: 20px;
			position: relative;
			
			span {
				transition: width 1s;
				white-space: nowrap;
				width: 100%;
				position: relative;
			}
		}

		.nav {
			flex: 1.15 1 0;

			font-weight: 200;
			font-size: 1.6rem;
			font-weight: 200;
			text-align: center;

			&:hover {
				cursor: pointer;
			}
		}

		/* --- header accessories --- */

	}
	
	&.shrink {
		.header-sleeve {
			height: 40px;
		}

		.header {
			height: 40px;
			line-height: 40px;
	
			.allan span {
				position :relative;
				top: -1px;
			}
		}
	}
	
}

/* -------- BODY ------- */
/* -------- BODY ------- */
/* -------- BODY ------- */

.container {
	display: flex;
	z-index: 1;

	.sidebar-left {
		flex: 1 1 0;
		transition: flex 0.2s 0.2s;
	}

	.main-wrapper {
		flex: 4 1 0;
		display: flex;
		justify-content: center;

		.main {
			flex: .65 1 0;
			padding-top: 60px;

			.entry {
				position: relative;

				h1 {
					padding: 10px 25px 10px 50px;
					margin: 0 -25px 15px -25px;
					left: -25px;
					
					position: relative;
					
					font-family: "IBM Plex Mono", monospace;
					font-size: 1.6em;
					display: inline-block;
					// outline: 1px dotted grey;
				}

				p {
					overflow: hidden;
					// padding: 15px 0;
					border-radius: 5px;
					font-weight: 400;
					line-height: 1.4;
					font-size: 1.3rem;
	
					// font-family: 'Roboto', sans-serif;
					font-family: 'Source Sans Pro', sans-serif;
	
					font-size: 21px;
					line-height: 29.5px;
					color: #333;

					margin-top: 20px;
					margin-bottom: 20px;
				}
	
				.meta {
					font-family: "IBM Plex Mono", monospace;
					position: absolute;
					text-align: right;
					width: 100%;
					color: #969696;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: bold;
					bottom: 3px;
					font-style: italic;
				}

				hr {
					height: 2px;
					border: none;
					border-top: 1px dotted #d8d8d8;
					margin: 38.5px auto 70px auto;
				}
  
				&:nth-child(3n - 2) h1 {
					background-color: #ffeefd70;
				
					border-bottom: 1px solid #c3b7c270;
					border-right: 1px solid #c3b7c270;
				}

				&:nth-child(3n - 1) h1 {
					background-color: #e2f0f994;

					border-bottom: 1px solid #c9d5dc94;
					border-right: 1px solid #c9d5dc94;
				}

				&:nth-child(3n) h1 {
					background-color: #f9f2e294;

					border-bottom: 1px solid #d4cdbe94;
    				border-right: 1px solid #d4cdbe94;

				}
			}

		}
	}


	.sidebar-right {
		flex: 1.15 1 0;
		opacity: 0;
		font-size: 1.6rem;
		font-family: 'Roboto', sans-serif;
		position: relative;
		display: flex;
		justify-content: center;
		transition: opacity 0.2s;

		// background-image: linear-gradient(240deg, #F2F7F2 0%, white 75%);
		// background-image: linear-gradient(240deg, #F2F7F2 0%, white 10%);
		// background-image: linear-gradient(240deg, #F2F7F2 0%, white 10%);


		.sidebar-right-content-wrapper {
			// position: fixed;
			display: flex;
			justify-content: center;
		}

		.sidebar-right-content {
			flex: 1 1 0;
			font-size: 20px;

			// display: flex;
			// flex-direction: column;
			// background-color: #F2F7F2;

			.about-image {
				text-align: center;

				img {
					filter: drop-shadow(2px 2px 2px black);
					border-radius: 15px;
					max-width: 150px;
					margin: 15px;
				}
			}

			.about-name {
				text-align: center;
			}

			p {

				font-size: 20px;
				padding-right: 25px;
				padding-left: 25px;
				text-align: center;

			}
		}

	}
}


/* --------- UTIL ------- */
/* --------- UTIL ------- */
/* --------- UTIL ------- */

@for $i from 0 through 30 {
	.mt-#{$i} { margin-top: #{$i}px !important;	}
	.mr-#{$i} { margin-right: #{$i}px !important; }
	.mb-#{$i} { margin-bottom: #{$i}px !important; }
	.ml-#{$i} { margin-left: #{$i}px !important; }

	.pt-#{$i} { padding-top: #{$i}px !important;}
	.pr-#{$i} { padding-right: #{$i}px !important; }
	.pb-#{$i} { padding-bottom: #{$i}px !important;	}
	.pl-#{$i} { padding-left: #{$i}px !important; }
}


/* --------- RESPONSIVE ------- */
/* --------- RESPONSIVE ------- */
/* --------- RESPONSIVE ------- */


@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

@media (max-width: 1500px) {
	.container .main {
		flex: .7 1 0 !important;
	}
}
/* --------- KEYFRAMES ------- */
/* --------- KEYFRAMES ------- */
/* --------- KEYFRAMES ------- */

@keyframes fadeInUp {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}






@keyframes tdHingeFlipIn {
	0% {
	  opacity: 0;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
			  animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
	}
	50% {
	  transform: perspective(600px) rotateX(-10deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  opacity: 1;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

  @keyframes tdHingeFlipOut {
	0% {
	  opacity: 1;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
			  animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
	}
	50% {
	  transform: perspective(600px) rotateX(-10deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  opacity: 0;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

