@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Source+Sans+Pro&display=swap');


:root {
	--readable-text-color: #252525;
	--readable-text-weight: 200;
	--transition-length: 0.2s;
}

body {
	overflow-x: hidden;
	
	margin: 0;
	* {	box-sizing: border-box; }
	
	font-weight: var(--readable-text-weight);
	color: var(--readable-text-color);
	
	padding-top: 70px;
	transition: padding var(--transition-length);

	&.about-page {

		.container {
			transform: translateY(calc(-300vh - 70px));
			transition: transform 1.4s cubic-bezier(.99, 0, 1, 1);
		}
	}
}

/* -------- ABOUT ------- */
/* -------- ABOUT ------- */
/* -------- ABOUT ------- */
.about {

	&.about-left {
		position: absolute;
	
		width: 100%;
		height: calc(100vh - 70px);
		transform: translateX(-50%);
		
		background: lightgrey;
	}
	
	&.about-right {
		position: absolute;
	
		width: 100%;
		height: calc(100vh - 70px);
		transform: translateX(50%);
	
		background: grey;
	}

}



/* -------- HEADER ------- */
/* -------- HEADER ------- */
/* -------- HEADER ------- */


.header__scene {

	position: fixed;
	margin-top: -70px;
	z-index: 3;
	width: 100%;
	line-height: 70px;

	/* --- header --- */
	.header {
		display: flex;
		justify-content: space-between;

		height: 70px;
		
		font-size: 2.6rem;
		font-weight: 400;
		font-family: 'IBM Plex Mono', monospace;
		
		transform-origin: top left;

		transition: transform var(--transition-length) linear, height var(--transition-length) linear, line-height var(--transition-length) linear;

		transform: rotate3d(0,0,0,0);
		position: relative;
		background: linear-gradient(135deg, #f8f8f8, #F3F3F3);



		.allan {
			flex: 5 1 0;
			display: flex;
			align-items: center;
			padding-left: 20px;
			position: relative;
			
			span {
				transition: width 1s;
				white-space: nowrap;
				width: 100%;
				position: relative;
			}
		}

		.nav {
			flex: 1.15 1 0;

			font-weight: 200;
			font-size: 1.6rem;
			font-weight: 200;
			text-align: center;

			&:hover {
				cursor: pointer;
			}
		}

		/* --- header accessories --- */

	}
	
	&.shrink {
		.header-sleeve {
			height: 40px;
		}

		.header {
			height: 40px;
			line-height: 40px;
	
			.allan span {
				position :relative;
				top: -1px;
			}
		}
	}
	
}

/* -------- BODY ------- */
/* -------- BODY ------- */
/* -------- BODY ------- */



.container {
	display: flex;
	z-index: 1;

	.sidebar-left {
		flex: 1 1 0;
		transition: flex 0.2s 0.2s;
	}

	.main-wrapper {
		flex: 4 1 0;
		display: flex;
		justify-content: center;

		.main {
			flex: .65 1 0;
			padding-top: 80px;

			.entry {
				position: relative;

				h1 {
					padding: 10px 25px 10px 50px;
					margin: 0 -25px 15px -25px;
					left: -25px;
					
					position: relative;
					
					font-family: "IBM Plex Mono", monospace;
					font-size: 1.6em;
					display: inline-block;
					// outline: 1px dotted grey;
				}

				p {
					overflow: hidden;
					// padding: 15px 0;
					border-radius: 5px;
					font-weight: 400;
					line-height: 1.4;
					font-size: 1.3rem;
	
					// font-family: 'Roboto', sans-serif;
					font-family: 'Source Sans Pro', sans-serif;
	
					font-size: 21px;
					line-height: 29.5px;
					color: #333;

					margin-top: 20px;
					margin-bottom: 20px;
				}
	
				.meta {
					font-family: "IBM Plex Mono", monospace;
					position: absolute;
					text-align: right;
					width: 100%;
					color: #969696;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: bold;
					bottom: 3px;
					font-style: italic;
				}

				hr {
					height: 2px;
					border: none;
					border-top: 1px dotted #d8d8d8;
					margin: 38.5px auto 70px auto;
				}
  
				&:nth-child(3n - 2) h1 {
					background-color: #ffeefd70;
				
					border-bottom: 1px solid #c3b7c270;
					border-right: 1px solid #c3b7c270;
				}

				&:nth-child(3n - 1) h1 {
					background-color: #e2f0f994;

					border-bottom: 1px solid #c9d5dc94;
					border-right: 1px solid #c9d5dc94;
				}

				&:nth-child(3n) h1 {
					background-color: #f9f2e294;

					border-bottom: 1px solid #d4cdbe94;
    				border-right: 1px solid #d4cdbe94;

				}
			}

		}
	}


	.sidebar-right {
		flex: 1.15 1 0;
		opacity: 0;
		font-size: 1.6rem;
		font-family: 'Roboto', sans-serif;
		position: relative;
		display: flex;
		justify-content: center;
		transition: opacity 0.2s;

		// background-image: linear-gradient(240deg, #F2F7F2 0%, white 75%);
		// background-image: linear-gradient(240deg, #F2F7F2 0%, white 10%);
		// background-image: linear-gradient(240deg, #F2F7F2 0%, white 10%);


		.sidebar-right-content-wrapper {
			// position: fixed;
			display: flex;
			justify-content: center;
		}

		.sidebar-right-content {
			flex: 1 1 0;
			font-size: 20px;

			// display: flex;
			// flex-direction: column;
			// background-color: #F2F7F2;

			.about-image {
				text-align: center;

				img {
					filter: drop-shadow(2px 2px 2px black);
					border-radius: 15px;
					max-width: 150px;
					margin: 15px;
				}
			}

			.about-name {
				text-align: center;
			}

			p {

				font-size: 20px;
				padding-right: 25px;
				padding-left: 25px;
				text-align: center;

			}
		}

	}
}


/* --------- UTIL ------- */
/* --------- UTIL ------- */
/* --------- UTIL ------- */

@for $i from 0 through 30 {
	.mt-#{$i} { margin-top: #{$i}px !important;	}
	.mr-#{$i} { margin-right: #{$i}px !important; }
	.mb-#{$i} { margin-bottom: #{$i}px !important; }
	.ml-#{$i} { margin-left: #{$i}px !important; }

	.pt-#{$i} { padding-top: #{$i}px !important;}
	.pr-#{$i} { padding-right: #{$i}px !important; }
	.pb-#{$i} { padding-bottom: #{$i}px !important;	}
	.pl-#{$i} { padding-left: #{$i}px !important; }
}

.clear { clear: both; }

.right { float: right; }

.left {	float: left; }




/* --------- POPUP EFFECT ------- */
/* --------- POPUP EFFECT ------- */
/* --------- POPUP EFFECT ------- */



.moving-zone {
    perspective: 800px;
}
.popup {
    padding: 10px;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    border-radius: inherit;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 40px 20px rgba(0,0,0,.1);
    transform: translateZ(-100px);
}


/* --------- 3D CUBE ------- */
/* --------- 3D CUBE ------- */
/* --------- 3D CUBE ------- */

.scene__card {
	perspective: 100px;
	perspective-origin: 50% 50%;
	margin: 0 auto;
	margin-top: 15px;

	.card {
		width: 100px;
		height: 100px;
		background-color: lightblue;
		position: relative;
		opacity: 0.7;
		transition: transform 1s;
		transform-origin: left top;
	
		&.is-flipped {
			// transform: rotateY(90deg) translateX(-100%);
			transform: rotateY(20deg) scale(.5);
		}

		.card__face {
			position: absolute;
			height: 100%;
			width: 100%;
			backface-visibility: hidden;
			line-height: 100px;
		
			text-align: center;
			user-select: none;
		
			cursor: pointer;

			&.card__face--front {
		
			}
			
			&.card__face--back {
				transform: rotateY(180deg);
			}
		}
	}
}

	

$prism-side: 50;
$prism-from-center: #{2 * $prism-side / 3}px;

.triangle-prism{
	width: $prism-from-center;

	width: 300px;
	height: 50px;
	position: relative;
	perspective: 1000px;
	margin: 0 auto;
	
	#prism-slider{
		width: 300px;
		height: 100%;
		position: absolute;
		transform-style: preserve-3d;
		animation: cycle 9s linear infinite;
		animation-direction: normal;
		// transform: rotateY(45deg);

		.side{
			width: 300px;
			height: 48px;
			display: block;
			position: absolute;
			// border: 1px solid #d46555;
			background: #f77663;
			color: #fff;
			text-align: center;
			line-height: 48px;
		  }

		.side.one{
			transform: rotateX(0deg) translateZ(14px);
		}
		
		.side.two{
			transform: rotateX(120deg) translateZ(14px);
		}
		
		.side.three{
			transform: rotateX(240deg) translateZ(14px);
		}
   }
}
  
  
  @keyframes cycle{
	0%{
	  transform: rotateX(0deg); 
	}
	28.5714%{
	  transform: rotateX(0deg);
	}
	33.3333%{
	  transform: rotateX(-120deg);
	}
	61.9047%{
	  transform: rotateX(-120deg);
	}
	66.6666%{
	  transform: rotateX(-240deg);
	}
	95.238%{
	  transform: rotateX(-240deg);
	}
	100%{
	  transform: rotateX(-360deg);
	}
  }



/* --------- RESPONSIVE ------- */
/* --------- RESPONSIVE ------- */
/* --------- RESPONSIVE ------- */


@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}

@media (max-width: 1500px) {
	.container .main {
		flex: .7 1 0 !important;
	}
}
/* --------- KEYFRAMES ------- */
/* --------- KEYFRAMES ------- */
/* --------- KEYFRAMES ------- */

@keyframes fadeInUp {
	0% {
		transform: translateY(10px);
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		transform: translateY(0);
	}
}






@keyframes tdHingeFlipIn {
	0% {
	  opacity: 0;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
			  animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
	}
	50% {
	  transform: perspective(600px) rotateX(-10deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  opacity: 1;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

  @keyframes tdHingeFlipOut {
	0% {
	  opacity: 1;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
			  animation-timing-function: cubic-bezier(0, 0.59, 0.375, 1);
	}
	50% {
	  transform: perspective(600px) rotateX(-10deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  opacity: 0;
	  transform: perspective(600px) rotateX(0deg);
	  transform-origin: center top;
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

