@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.preload * {
    transition: none !important;
  }

body {
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    
    .about {
        position: absolute;
        height: 100vh;
        width: 100%;

        transition: transform .4s cubic-bezier(.99, 0, 1, 1);

        @at-root body.launch .about {
            transform: translateX(0) !important;
        }

        &.about-left {
            background: white;
            transform: translateX(-100%);
        }
    
        &.about-right {
            transform: translateX(100%);

            display: flex;
            align-items: center;
            

            .picture-matte-wrap {
                width: 30%;
                margin: 0 auto;
                height: 95%;
                
                .picture-matte {
                    height: 100%;
                    width: 100%;
                    // border-radius: 25px;
                    background: url("/img/hotel-wallpaper-black.png");
                    text-align: center;
                    position: relative;
                    // filter: drop-shadow(2px 2px 2px black);

                    font-family: 'Source Sans Pro', sans-serif;
                    color: white;
                    font-size: 2.6rem;

                    display: flex;
                    flex-direction: column;

                    
                    // .897 ratio
                    > div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        flex: 1 1 0;

                        &:last-child {
                            font-size: 14px;
                        }
                    }

                    .description {
                        line-height: 1.2;

                        .description-row {
                            background-color:lightgreen;
                            background-color: rgba(0, 0, 0, 0.297);
                            padding-left: 25px; padding-right: 25px;
                            position: relative;
                        }
                    }
                    
                    .picture {
                        img {
                            // top: 50%;
                            // left: 50%;
                            // transform: translate(-50%, -50%);
                            // position: absolute;
                            // filter: grayscale(100%);
                            width: 90%;
                            object-fit: scale-down;
                        }

                    }

                    .skills {

                    }

        
                }


            }
        }
    }

    .filler {
        p {
            font-family: 'IBM Plex Mono', monospace;
            font-size: 20px;
        }
    }
}