[id^=bonk] {
    display: none;
    position: absolute;
    width: 100px;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: url(css_img/mallot_down.png) 0 25, pointer;
}

/* COMPONENT styling */
#magnetic_mobile_11_24_20 {

    .game {
        display: flex;

        margin: 30px auto 0;
        width: 65%;

        min-height: 500px;
        background: linear-gradient(180deg, #fcf7ee, transparent);
        position: relative;

        .holes {
            color: purple;
            flex: 3 0 0;
            position: relative;
   
            cursor: url(css_img/mallot.png) 0 25, pointer;
    
            &.down-mallot {
                cursor: url(css_img/mallot_down.png) 0 25, pointer;
            }

            .row {
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                .rod {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    position: relative;
                    bottom: 25%;

                    .high-ellipse {
                        position: absolute;
                        bottom: 0;
                        overflow: hidden;

                        height: 110%;
                        width: 240%;
                        left: 50%;
                        transform: translateX(-50%);
                        border-radius: 100%;                        
                        
                        .low-ellipse {
                            height: 100%;
                            width: 100%;
                            background-color: black;
                            position: absolute;
                            bottom: -260px;
                            border-radius: 100%;                        
                        }

                        .image {

                            &.down {
                                transform: translateY(110px);
                            }

                            &.trump {
                                background: url(css_img/trump2.png) no-repeat;
                            }
        
                            &.peterson {
                                background: url(css_img/JP.png) no-repeat;
                            }
                            
                            &.alex {
                                background: url(css_img/alexjones.png) no-repeat;
                            }
        
                            &.shapiro {
                                background: url(css_img/shapiro.png) no-repeat;
                            }


                            width: 110px;
                            margin: 0 auto;
                            position: relative;
                            image-rendering: -webkit-optimize-contrast;
                            background-position: bottom;
                            background-size: 100% !important;
                            height: 55%;
                            bottom: -140px;
                            transition: transform 0.2s;
                        }
                    }

                }
            }

        }
    }

    @media (max-width: 650px) {
        .game {
            margin: 30px 0 0;
            width: 100%;
            flex-direction: column-reverse;
            min-height: auto;

            .holes {
                display: flex;
                flex-direction: column;
                height: 500px;

                .row {
                    height: 180px;
                    
                    .rod {
                        height: 140%;
                    }

                    &:first-of-type {
                        z-index: 1;
                    }
                }
            }
        }
    }

    @media (min-width: 769px) {
        &.entry hr {
            margin-top: 0;
        }
        // background-color: red;
    }
}